
h1{
    color:blue
    
}

*{
    border:thick;
}
.h1:hover
{
    opacity: 1;
}
.header{
    background-color:rgb(235, 99, 156);
    display: flex;
    justify-content: space-between;
    
}

a:link {

    color : white;
    
}
a:visited {

    color : white;
 }
.rabbit
{
    display: flex;
    justify-content: space-between;
    border: thick #f012;
    font-family:unset;
    align-content: center;
    flex-direction: row-reverse;
    background-color: #f35353;
    font-style:italic;

    position:static;
    
}

.rabbit:hover
{
    transform: scale(1,2);
}

.grid:hover
{
    transform: scale(1,2);
}
.grid
{
    display: flex;
    justify-content: space-between;
    background:#f98458;
    color:  #f09;
    font-style: oblique;
}
